<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Project JS</title>
    <link rel="stylesheet" href="/assets/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

</head>


<body>
    <!-- start section header -->
    <header>
        <div class="contact-continer">
            <div class="contact">
                <span><i id="icon" class="fa-solid fa-phone" ></i> 01205768077</span>
                <span><i  id="icon"class="fa-solid fa-envelope"></i> petereshac45@gmail.com</span>
                <span><i id="icon" class="fa-solid fa-location-dot"></i> Bravo </span>
            </div>
            <div class="login">
                <span> <i id="icon" class="fa-solid fa-dollar-sign"></i> USD</span>
                <span> <i  id="icon"class="fa-solid fa-user"></i> Login</span>
            </div>
        </div>
        <!-- start nav -->
        <nav>
            <div class="logo"><a href="../index.html">electro</a></div>

            <div class="pages">
                <span><a href="../index.html">home</a></span>
                <span><a href="/views/shop.html">shop</a></span>
            </div>

            <div class="store">
                <a href="/views/wishlist.html">
                    <i class="fa-regular fa-heart"></i>
                    <p id="count">0</p>
                    <p>your wishlist</p>
                </a>

                <a href="/views/cart.html">
                    <i class="fa-solid fa-store"></i>
                    <p>your cart</p>
                    <p class="count">0</p>
                </a>

                <span class="menu-btn">
            <i class="fa-solid fa-list"></i>
            <p>Menu</p>
        </span>
            </div>
        </nav>

        <!-- mobile menu -->
        <div class="mobile-menu">
            <a href="/index.html">Home</a>
            <a href="/views/cart.html">Card</a>
        </div>
        <!-- end nav -->
    </header>

    <!-- end section header -->
    <section class="searchBar">
        <h2>The Shop </h2>
        <div class="search">
            <span><input placeholder="Search" type="text" id="searchValue"></span>
            <span class="icon"><i class="fa-solid fa-magnifying-glass"></i></span>
        </div>
        <div class="items">
            <button onclick="searchData(this)" id="all" class="active">All</button>
            <button onclick="searchData(this)" id="laptops">Laptop</button>
            <button onclick="searchData(this)" id="phones">Phones</button>
            <button onclick="searchData(this)" id="headphones">Headphones</button>
            <button onclick="searchData(this)" id="cameras">Cameras</button>
        </div>
    </section>
    <section class="showData">
        <div class="Products">

        </div>
    </section>


    <!-- footer start -->
    <footer>

        <div class="top">
            <div>
                <h3>About Us</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
                <ul>
                    <li>
                        <i class="fa-solid fa-location-dot"></i>
                        <span>Bravo Company</span>
                    </li>
                    <li>
                        <i class="fa-solid fa-phone"></i>
                        <span>01205768077</span>
                    </li>
                    <li>
                        <i class="fa-regular fa-envelope"></i>
                        <span>petereshac45@gmail.com</span>
                    </li>
                </ul>
            </div>

            <div>
                <h3>Categories</h3>
                <ul>
                    <li>Hot deals</li>
                    <li>Laptops</li>
                    <li>Smartphones</li>
                    <li>Cameras</li>
                    <li>Accessories</li>
                </ul>
            </div>

            <div>
                <h3>Information</h3>
                <ul>
                    <li>About Us</li>
                    <li>Contact Us</li>
                    <li>Privacy Policy</li>
                    <li>Orders and Returns</li>
                    <li>Terms & Conditions</li>
                </ul>
            </div>

            <div>
                <h3>Service</h3>
                <ul>
                    <li>My Account</li>
                    <li>View Cart</li>
                    <li>Wishlist</li>
                    <li>Track My Order</li>
                    <li>Help</li>
                </ul>
            </div>

        </div>
        <!-- alert start -->
        <div class="alert">
            <h3 class="alert-pro-name"></h3>
            <div class="alert-icon">
                <i class="fa-solid fa-check"></i>
                <i class="fa-solid fa-exclamation"></i>
            </div>
        </div>
        <!-- alert end -->
        <div class="bottom">

            <div class="pay-cards">
                <i class="fa-brands fa-cc-visa"></i>
                <i class="fa-regular fa-credit-card"></i>
                <i class="fa-brands fa-cc-paypal"></i>
                <i class="fa-brands fa-cc-mastercard"></i>
                <i class="fa-brands fa-cc-amex"></i>
            </div>

            <div class="copy-rights">
                <p>Copyright ©2025 All rights reserved |</p>
                <span>Peter Eshac</span>
            </div>

        </div>

    </footer>
    <!-- footer end -->
    <script src="/scripts/jQuery.js"></script>
    <script src="/scripts/slick.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>

    <script src="/scripts/appShop.js"></script>
</body>

</html>