<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Project JS</title>
    <link rel="stylesheet" href="/assets/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

</head>


<body>
    <!-- start section header -->
    <header>
        <div class="contact-continer">
            <div class="contact">
                <span><i id="icon" class="fa-solid fa-phone" ></i> 01205768077</span>
                <span><i  id="icon"class="fa-solid fa-envelope"></i> petereshac45@gmail.com</span>
                <span><i id="icon" class="fa-solid fa-location-dot"></i> Bravo </span>
            </div>
            <div class="login">
                <span> <i id="icon" class="fa-solid fa-dollar-sign"></i> USD</span>
                <span> <i  id="icon"class="fa-solid fa-user"></i> Login</span>
            </div>
        </div>
        <!-- start nav -->
        <nav>
            <div class="logo"><a href="../index.html">electro</a></div>
            <div class="pages">
                <span><a href="../index.html">home</a></span>
                <span><a href="/views/shop.html">shop</a></span>
            </div>
            <div class="store">
                <a href="/views/wishlist.html"><i class="fa-regular fa-heart"></i>
                <p id="count">0</p>
                <p>your wishlist</p>
                </a>

                <a href="/views/cart.html"> <i class="fa-solid fa-store"></i>
                    <p>your cart</p>
                    <p class="count">0</p>
                </a>
            </div>
        </nav>
        <!-- end nav -->
    </header>
    <!-- end section header -->
    <script src="scripts/jQuery.js"></script>
    <script src="scripts/slick.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
    <script src="scripts/main.js"></script>
    <script src="scripts/main2.js"></script>
</body>

</html>